.button
{
	background-color: #008080;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.forFirstInputs 
{
	width: 40%;
	height: 67%;
	float: left;
	margin: 0px 10px 5px 20px;
	padding: 20px;
}
.button_d
{
	background-color: #FFF0F5;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
.dropbtn {
	background-color: #008080;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #008080;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFF0F5;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.split4 {
height: 100%;
width: 20%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}
.right4 {
right: 0;
background-color: white;
}
.centered4 {
position: absolute;
top: 60%;
left: 39%;
transform: translate(-50%, -50%);
text-align: left;
}
.noncentered4 {
position: absolute;
top: 5%;
text-align: left;
}
.non4
{
position: absolute;
top: 50%;
text-align: left;
color: blue;
border-style: double;
border-color: black;
}
.d_Button4{
float: right;
margin-top: 5px;
margin-right: 45px;
margin-left: 20px;
width: 100px;
height: 45px;
position: relative;
top: 70%;
}